.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 20px 170px;
}

.nav-menu {
    display: flex;
    align-items: center;
    list-style: none;
    gap: 60px;
    font-size: 20px;
}

.nav-menu li {
    cursor: pointer;
}

.nav-connect {
    padding: 20px 40px;
    border-radius: 50px;
    background: linear-gradient(267deg, #DA7C25 0.36%, #B923E1 102.06%);
    font-size: 22px;
    cursor: pointer;
    transition: 0.5s;
}

.nav-connect:hover {
    transform: scale(1.05);
}

.anchor {
    text-decoration: none;
    color: white;
}

.nav-mob-close,
.nav-mob-open {
    display: none;
    cursor: pointer;
}

@media (max-width:1024px) {
    .navbar {
        margin: 20px 100px;
    }

    .nav-menu {
        gap: 40px;
        font-size: 18px;
    }

    .nav-connect {
        font-size: 20px;
        padding: 18px 35px;
    }
}

@media (max-width:768px) {
    .navbar {
        margin: 20px 50px;
    }

    .nav-connect {
        display: none;
    }

    .nav-mob-open {
        display: block;
        position: fixed;
        right: 30px;
        top: 20px;
        width: 30px;
        height: 30px;
        cursor: pointer;
        z-index: 3;
    }

    .nav-mob-close {
        display: none;
        position: fixed;
        top: 20px;
        right: 30px;
        width: 30px;
        height: 30px;
        cursor: pointer;
        z-index: 3;
    }

    .nav-menu {
        position: fixed;
        top: 0;
        right: -350px;
        width: 350px;
        height: 100vh;
        background-color: #1f0016;
        flex-direction: column;
        gap: 30px;
        padding: 100px 20px;
        align-items: start;
        z-index: 2;
        transition: right 0.5s ease;
    }

    .nav-menu li {
        font-size: 30px;
        flex-direction: row;
        padding-left: 30px;
        gap: 20px;
    }

    .nav-menu li img {
        display: none; /* Hide icons on mobile for simplicity */
    }

    /* Show the close button when the mobile nav is open */
    .nav-menu.open + .nav-mob-close {
        display: block;
    }

    /* Open menu when triggered */
    .nav-menu.open {
        right: 0;
    }
}

@media (max-width:480px) {
    .navbar {
        margin: 20px 30px;
    }

    .nav-menu li {
        font-size: 25px;
        padding-left: 20px;
    }
}
